resources/gluten-1.0.0-snapshot-jar-with-dependencies.jar filter=lfs diff=lfs merge=lfs -text
resources/gluten-jvm-1.0.0-snapshot-jar-with-dependencies.jar filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
